@import "./graphql.css";
@import "./rest.css";

:root {
    --syntax1: #00f4b9;
    --syntax2: #000;
}

.icons-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
}

.icons-grid .icon-preview {
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid var(--dark32);
    display: flex;
    flex-direction: column;
    font-size: var(--sl-text-sm);
    gap: 0.25rem;
    margin: 0;
    overflow-wrap: anywhere;
    padding: 0.75rem;
    background: none;
}

.icon-preview:hover,
.icon-preview:focus {
    cursor: pointer;
    border: 1px solid var(--dark32);
    background: var(--dark16);
}