AI_PROVIDER=anthropic
AI_MODEL=claude-sonnet-4-5-20250929
AI_TOKEN=YOUR_TOKEN
MCP_URL=http://localhost:3500/mcp
MCP_SOURCE=https://raw.githubusercontent.com/PokeAPI/pokeapi/refs/heads/master/openapi.yml