:root {
    --syntax-restBackground: #304b4f;
    --syntax-restObject: #00f4b9;
    --syntax-restOperationKeyword: #8ec1c9;

    xyd-layout-primary[id="rest"] {
        --syntax1: var(--syntax-restObject);
        --syntax2: var(--syntax-restBackground);
    }
}